@model IEnumerable<string>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h2>Destinationer</h2>

@foreach(var destination in Model)
{
    <p>@destination</p>
}